In [1]:
import pandas as pd
import datetime as dt

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
df=pd.read_csv("201908-citibike-tripdata.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [3]:
# 2. Check the datatypes of your columns. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 268.3+ MB

In [4]:
# 3. Convert the 'tripduration' column to datetime datatype.
df['tripduration'] = pd.to_datetime(df['tripduration'], unit = 's')

In [5]:
# 4. Check the datatypes of your columns. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             datetime64[ns]
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](1), float64(6), int64(3), object(5)
memory usage: 268.3+ MB

In [6]:
Lesser_df = df.head(50000)
Lesser_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 00:06:33,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,1970-01-01 00:10:27,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1970-01-01 00:18:52,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1970-01-01 00:29:40,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1970-01-01 00:25:17,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1970-01-01 00:46:49,2019-08-01 17:09:05.5950,2019-08-01 17:55:54.8000,349.0,Rivington St & Ridge St,40.718502,-73.983299,377.0,6 Ave & Canal St,40.722438,-74.005664,16270,Subscriber,1990,1
49996,1970-01-01 00:09:38,2019-08-01 17:09:05.7930,2019-08-01 17:18:44.0580,448.0,W 37 St & 10 Ave,40.756604,-73.997901,533.0,Broadway & W 38 St,40.752996,-73.987216,39978,Subscriber,1980,1
49997,1970-01-01 00:19:02,2019-08-01 17:09:07.1420,2019-08-01 17:28:09.8970,483.0,E 12 St & 3 Ave,40.732233,-73.988900,486.0,Broadway & W 29 St,40.746201,-73.988557,20683,Subscriber,1995,1
49998,1970-01-01 00:34:41,2019-08-01 17:09:07.1880,2019-08-01 17:43:48.4980,317.0,E 6 St & Avenue B,40.724537,-73.981854,2000.0,Front St & Washington St,40.702551,-73.989402,39223,Subscriber,1984,2
49999,1970-01-01 00:09:25,2019-08-01 17:09:07.2610,2019-08-01 17:18:32.9650,442.0,W 27 St & 7 Ave,40.746647,-73.993915,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,39490,Subscriber,1977,2

In [7]:
Lesser_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             50000 non-null  datetime64[ns]
 1   starttime                50000 non-null  object
 2   stoptime                 50000 non-null  object
 3   start station id         49997 non-null  float64
 4   start station name       49997 non-null  object
 5   start station latitude   50000 non-null  float64
 6   start station longitude  50000 non-null  float64
 7   end station id           49997 non-null  float64
 8   end station name         49997 non-null  object
 9   end station latitude     50000 non-null  float64
 10  end station longitude    50000 non-null  float64
 11  bikeid                   50000 non-null  int64
 12  usertype                 50000 non-null  object
 13  birth year               50000 non-null  int64
 14  gender                   50000 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(3), object(5)
memory usage: 5.7+ MB

In [8]:
# 5. Export the Dataframe as a new CSV file without the index.
Lesser_df.to_csv('tripdata1.csv')